@import url(https://fonts.googleapis.com/css?family=Advent+Pro:100);
html { 
  background:  url(http://upload.wikimedia.org/wikipedia/commons/d/dd/Muybridge_race_horse_animated.gif) no-repeat center center fixed; 
  background-size: cover;
}

body {
    height: 100%;
}

.container{
    text-align: center;
    margin-top:23px;
}
table{
    margin: auto;
}
input{
    border-radius: 21px;
    border:5px solid rgb(33, 59, 207);
    font-size:34px;
}
button{
    border-radius:21px;
    border:5px solid rgb(43, 33, 187);
    font-size:30px;
    background:  rgb(107, 107, 212);
    width:102px;
    height: 58px;
}
.calculator{
    background-color: rgb(10, 10, 59);
    padding: 23px;
    border-radius: 53px;
    display: inline-block;
}
footer {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
